// wisdom
@font-face {
    font-family: 'wisdom';
    src: url('../font-family/d6ced0df95b7cc53e0eae88817930d08-webfont.woff2') format('woff2'),
         url('../font-family/d6ced0df95b7cc53e0eae88817930d08-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// roboto_slab
@font-face {
    font-family: 'roboto_slab';
    src: url('../font-family/robotoslab-regular-webfont.woff2') format('woff2'),
         url('../font-family/robotoslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// montserrat
@font-face {
    font-family: 'montserrat';
    src: url('../font-family/montserrat-regular-webfont.woff2') format('woff2'),
         url('../font-family/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('../font-family/montserrat-bold-webfont.woff2') format('woff2'),
         url('../font-family/montserrat-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// droid_serif
@font-face {
    font-family: 'droid_serif';
    src: url('../font-family/droidserif-italic-webfont.woff2') format('woff2'),
         url('../font-family/droidserif-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}